<div class="container"  id="application">
  <form class="form-signin" method='POST' style="margin-top: 30px;">
    <h2 class="form-signin-heading">{{ t('discussion', 'Insert Email id') }}</h2>
    {% set class = 'alert-error' %}
    {% if response.msg is not empty %}
      {% if response.status is not empty %}
        {% set class = 'alert-success' %}
      {% endif %}      
    {% endif %}
    <div class="{{class}}" id="error">
      {% if response.msg is not empty %}
        {{ response.msg }}
      {% endif %}  
    </div>
    <input type="text" class="input-block-level" id="email" name="email" value='{{response.data}}' placeholder="{{ t('discussion', 'Email address') }}">
    <button class="btn btn-primary" type="submit" id="forgot-password-on-forgot-page">{{ t('discussion', 'Get password') }}</button>
    <button class="btn btn-primary" type="submit" id="login-on-forgot-page">{{ t('discussion', 'Sign in') }}</button>
  </form>
</div>
<script type="text/javascript">
 var loginPageUrl = "{{constant('BASE_URL')}}" + 'login';
</script>