<div class="container maincontent">
  <div class="form-group">
    <form id="home-page-config-form" class="form-create-discussion" action="{{constant('BASE_URL')}}admin/config/homepage" method="post"  enctype = "multipart/form-data">      
      <div>
        <center><h5>{{ t('discussion', 'Home Page Configuration Panel') }}</h5></center>
        <hr/>
      </div>
      {% set class = 'alert-error' %}
      {% if message.msg is not empty %}
        {% if message.success == 1 %}
          {% set class = 'alert-success' %}
        {% endif %}
      {% endif %}
      <div class="{{class}}" id="error-msg">
        {% if message.msg is not empty %}
          {{ message.msg }}
        {% endif %}  
      </div>
      <label for="homeMainLogo">{{ t('discussion', 'Main Logo') }}</label>
      {% if homeConfig is not empty %}
        {% if homeConfig.main_logo is not empty %}
          <img name ="homeOldMainLogo" src="{{constant('BASE_URL')}}{{homeConfig.main_logo}}" alt="Main Logo" class="img-responsive sub-main-img" style="width:100px;height:50px;"/>
        {% endif %}
      {% endif %}
      <input type="file" class="home-main-logo" class="input-block-level input-large" name="homeMainLogo">
      <label>{{ t('discussion','Sub Logo')}}</label>
      {% if homeConfig is not empty %}
        {% if homeConfig.sub_logo is not empty %}
          <img name ="homeOldSubLogo" src="{{constant('BASE_URL')}}{{homeConfig.sub_logo}}" alt="Sub Logo" class="img-responsive sub-logo-img" style="width:100px;height:50px;"/>
        {% endif %}
      {% endif %}
      <input type="file" class="home-sub-logo" class="input-block-level input-large" name="homeSubLogo">
      <label>{{ t('discussion','Banner') }} </label>
      {% if homeConfig is not empty %}
        {% if homeConfig.banner is not empty %}
          <img name ="homeOldBanner" src="{{constant('BASE_URL')}}{{homeConfig.banner}}" alt="Banner" class="img-responsive banner-img" style="width:300px;height:50px;"/>
        {% endif %}
      {% endif %}
      <input type="file" class="home-banner" class="input-block-level input-large" name="homeBanner">
      <label>{{ t('discussion','Introduction Text') }}</label>
      {% set introduction_text = '' %}
      {% if homeConfig is not empty %}
        {% if homeConfig.introduction_text is not empty %}
          {% set introduction_text = homeConfig.introduction_text %}
        {% endif %}
      {% endif %}
      <textarea name="homeIntroduction" class="home-introduction">{{introduction_text}}</textarea>
      <label>{{ t('discussion','Layout') }}</label>
      {% set layout = '' %}
      {% if homeConfig is not empty %}
        {% if homeConfig.layout is not empty %}
          {% set layout = homeConfig.layout %}
        {% endif %}
      {% endif %}
      <input type="text" class="home-layout" maxlength="1" name="homeLayout" value="{{layout}}"/>    
      <br>
      <button class="homeConfigUpdate" style="float: none" class="btn btn-large btn-primary" type="submit" name='homeConfigSubmit'>{{ t('discussion', 'Update Homepage') }}</button>
    </form>
  </div>
  <hr>
</div>
<script>
  var baseUrl = "{{constant('BASE_URL')}}";
</script>
