<div class="container">
  <div class="row-fluid">
    <div class="span12" style="position:relative;">
      <div class="border-line">
        {% if homeDetails is not empty %}
          {% if homeDetails.main_logo is not empty %}
            <h1 class="site-title">
              <a class="partecipa-logo" rel="home" title="Io Partecipo" href="{{constant('BASE_URL')}}"><img src="{{constant('BASE_URL')}}{{homeDetails.main_logo}}" alt="Io Partecipo"></a>
            </h1>
          {% endif %}
        {% endif %}
        {% if homeDetails is not empty %}
          {% if homeDetails.sub_logo is not empty %}
            <div class="psp-logo">
              <a href="http://www.provincia.trento.it"><img src="{{constant('BASE_URL')}}{{homeDetails.sub_logo}}" alt="psp"></a>
            </div>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
  {% if homeDetails is not empty %}
    {% if homeDetails.banner is not empty %}
      <div class="row-fluid">
          <div class="span12">
              <div class="banner">
                  <img src="{{constant('BASE_URL')}}{{homeDetails.banner}}" alt="banner" />
              </div>
          </div>
      </div>
    {% endif %}
  {% endif %}
  {% if homeDetails is not empty %}
    {% if homeDetails.introduction_text is not empty %}
      <div class="row-fluid">
        <div class="span12">
          <div class="introtxt">
            {{homeDetails.introduction_text}}
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}
  {% if submission !=1 %}<br />{{text}}{%endif%}
  {% set layoutWidth = 'span6' %}
  {% if homeDetails is not empty %}
    {% if homeDetails.layout is not empty %}
      {% if homeDetails.layout == 1 %}
        {% set layoutWidth = 'span12' %}
      {% elseif homeDetails.layout == 2 %}
        {% set layoutWidth = 'span6' %}
      {% elseif homeDetails.layout == 3 %}
        {% set layoutWidth = 'span4' %}
      {% elseif homeDetails.layout == 4 %}
        {% set layoutWidth = 'span3' %}
      {% endif %}
    {% endif %}
  {% endif %}
  {% for discussion in discussions %}
  <div class="row-fluid">
    {% for discusion in discussion%}
      {% set styleColor = '' %}
      {% for key,colorv in color %}
        {%if key in discusion.slug %}
          {% set styleColor = colorv %}
        {%endif%}
      {% endfor %}
      <div class="{{layoutWidth}} themes {{styleColor}} by-{{discussion.author_id}}">
      <a href="{{constant('BASE_URL')}}discussion/proposals/{{discusion.slug}}" class="linktotheme">
        <div class="title">{{ discusion.title }}</div>
        <p class="description">{{ discusion.summary }}</p>
      </a>
    </div>
    {% endfor %}
  </div>
  {% endfor %}

</div>