<div class="container">
  <div class="row-fluid">
    <div class="span12" style="position:relative;">
      <div class="border-line">
        <h1 class="site-title">
          <a class="civici-logo" rel="home" title="CIVICI" href="{{constant('BASE_URL')}}">In movimento - Civici</a>
        </h1>
        <div class="urbanistica-logo">
          <a href="#"><img src="{{constant('THEME_URL')}}images/pat.png" alt="urbanistica"></a>
        </div>

      </div>
    </div>
  </div>


  <div class="row-fluid">
      <div class="span12">
          <div style="padding-bottom:5px;border-bottom:1px solid #000;">
              <img src="{{constant('THEME_URL')}}images/hd.png" />
          </div>
      </div>
  </div>

  <div class="row-fluid">
      <div class="span12">
      <div style="font-family:'PT sans', helvetica; margin:15px 0 15px 0; padding:15px 0 15px 0; background-color:#F5F5F5; font-size:14px; text-align:center;">
          <div><span style="font-family:'Roboto', helvetica; font-size:24px;
                            font-weight:100;">Sette verbi</span> che esprimono il terzo settore, le
              organizzazioni civiche e tanti cittadini.
          </div>
          <div style="margin-top:8px;">Come
              possiamo <span style="font-family:'Roboto', helvetica; font-size:24px;
                                    font-weight:100;">metterci in gioco</span> per dare a questi verbi il
              senso che meritano? <span style="font-family:'Roboto', helvetica;
                                               font-size:24px; font-weight:100;">Insieme</span>.
          </div>
          <div style="margin-top:8px;"><span style="font-family:'Roboto',
                                                    helvetica; font-size:24px; font-weight:100;">Leggi e commenta</span> le
              proposte; indicane la chiarezza; <span style="font-family:'Roboto',
                                                            helvetica; font-size:24px; font-weight:100;">fai la tua proposta</span>.
          </div>
      </div>

  </div>

  <div class="row-fluid">
      <div class="span6" style="margin-bottom: 12px;">
          <!-- AddThis Button BEGIN -->
          <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
              <a class="addthis_button_preferred_1"></a>
              <a class="addthis_button_preferred_2"></a>
              <a class="addthis_button_preferred_3"></a>
              <a class="addthis_button_preferred_4"></a>
              <a class="addthis_button_compact"></a>
              <a class="addthis_counter addthis_bubble_style"></a>
          </div>
          <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
          <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-532079d245586397"></script>
          <!-- AddThis Button END -->
      </div>
      <div class="span6" style="text-align: right">
          <a href="http://www.vita.it/non-profit/volontariato/in-movimento-un-manifesto-per-ripartire.html" target="_blank" style="color:#000; text-decoration:none; font-family:'PT sans', helvetica; font-size:13px;">
              <div style="width:200px; height:34px; border-radius:4px;
              line-height:34px; background-color:#F5F5F5; text-align:center; float:right">&gt; Leggi e scarica il manifesto</div>
          </a>
      </div>
  </div>

      {% if submission !=1 %}<br/>{{text}}{%endif%}


  {% for discussion in discussions %}
  <div class="row-fluid">
    {% for discusion in discussion%}
      {% set styleColor = '' %}
      {% for key,colorv in color %}
        {%if key in discusion.slug %}
          {% set styleColor = colorv %}
        {%endif%}
      {% endfor %}
      <div class="span6 themes {{styleColor}} by-{{discussion.author_id}}">
      <a href="{{constant('BASE_URL')}}discussion/proposals/{{discusion.slug}}" class="linktotheme">
        <div class="title">{{ discusion.title }}</div>
        <p class="description">{{ discusion.summary }}</p>
      </a>
    </div>
    {% endfor %}
  </div>
  {% endfor %}

</div>
