<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body style="padding:0;">
    <table cellspacing="0" cellpadding="0" width="602" style="font-family:tahoma, atial, Helvetica, sans-serif; font-size:12px; line-height:1.5; color:#000;background:#f4f4f4; border:solid 3px #c0c0c0;border-radius: 4px 4px 4px 4px;">
      <tbody>
        <tr>
          <td colspan="2">
            <table cellspacing="0" cellpadding="0" width="100%" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:1.5; color:#000;  margin-top:1px;">
              <tbody>
                <tr>
                  <td valign="top" style="padding:5px; font-weight:bold;">Buongiorno,</td>
                </tr>
                <tr>
                  <td valign="top" style="padding:5px;">{{mail_intro}}</td>
                </tr>
              </tbody>
            </table>
           </td>
        </tr>
        <tr>
          <td colspan="2">
            <table cellspacing="0" cellpadding="0" width="100%" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:1.5; color:#000;  margin-top:1px;">
              <tbody>
                <tr>
                  <td valign="top" style="padding:5px;width:20%"><b>{{description_text}}:</b></td>
                  <td valign="top" style="padding:5px;">{{opinion_description}}</td>
                </tr>
              </tbody>
            </table>
           </td>
        </tr>
        <tr>
          <td colspan="2">
            <table cellspacing="0" cellpadding="0" width="100%" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; line-height:1.5; color:#000;  margin-top:1px;">
              <tbody>
                <tr>
                  <td valign="top" style="padding:5px;float:left;">
                    <a href="{{admin_page_url}}">{{admin_link_text}}</a>
                  </td>
                </tr>
                <tr>
                  <td valign="top" style="padding:5px; color:#008cc3;"><strong>Cordiali saluti</strong><br />
                    Il team di IoPartecipo<br />
                    email: <a href="mailto:info@partecipa.tn.it">info@partecipa.tn.it</a><br />
                  </td>
                  <td valign="top"  style=" color:#fff; text-transform:uppercase; padding:5px;">&nbsp;</td>
                </tr>
              </tbody>
            </table>
           </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>