
<div class="conclusion">
  <div class="container">
    <footer>
      <p>Copyright <a href="http://www.ahref.eu/it" target="_blank">Fondazione
      &lt;ahref</a> 2013 | Sede legale: Vicolo Dallapiccola 12 - 38122 Trento - Italia | P. IVA 02178080228 | <a href="http://www.civiclinks.it/it/privacy/" target="_blank">Privacy</a> | <a href="http://www.civiclinks.it/it/tos/" target="_blank">Termini di servizio</a></p>
    </footer>
  </div>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{constant("GOOGLE_ANALYTIC_AUTH_KEY")}}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
