
<div class="conclusion">
  <div class="container">
    <footer>
      <p><a href="http://www.infotn.it/" target="_blank">Informatica Trentina SpA</a> | <a href="http://www.provincia.tn.it/privacy" target="_blank">Privacy</a> | <a href="http://partecipa.tn.it/tos" target="_blank">Termini di servizio</a> | <a href="http://partecipa.tn.it/contatti">Contatti</a></p>
    </footer>
  </div>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{constant("GOOGLE_ANALYTIC_AUTH_KEY")}}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
